body {
    font-family: "Lucida Grande", sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}
h1 {
    text-align: center;
    font-size: 64px;
}
h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}
p {
    font-size: 24px;
    padding-top: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#red {
    text-align: right;
    background-color: #FF0000;
}
#blue {
    text-align: left;
    background-color: #0000FF;
}
#yellow {
    text-align: right;
    background-color: #FFFF00;
}
#yellow h2 {
    text-shadow: 5px 5px 2px #c7e2c7;
    color: black;
}
#yellow p {
    color: black;
}
#green {
    text-align: left;
    background-color: #008000;
}
footer p {
    text-align: right;
    padding-top: 0px;
    padding-left: 0px;
}
